body {
	color: $black;
}
button {
	font-weight: 600;
	height: 50px;
	padding: 0px 20px;
	font-size: 18px;
	min-width: 90px;
}

input[type="text"] {
	box-shadow: none;
	border: none;
	border-bottom: 1px solid $grey;
	font-weight: 400;
	font-size: 21px;
	padding-left: 2px;
}

.hr-v {
	width: 1px;
	background-color: $grey;
}

.textarea {
	box-shadow: none;
	border: none;
	border-bottom: 1px solid $grey;
	font-weight: 400;
	font-size: 21px;
	padding-left: 2px;
}
.textarea:not([rows]) {
	max-height: 20em;
	min-height: 0em;
}

.label {
	font-size: 21px;
}

.help {
	font-weight: 600;
}

.tag {
	font-size: 12px;
	font-weight: 600;
	height: 2.3em !important;
}

.category-tile {
	min-height: 200px;
	width: 228px;
	justify-content: center;
	align-items: center;
	.title {
		font-weight: bold;
	}
}

.category-tile-selected {
	background-color: $green2;
	.title {
		color: $white;
	}
}

.image-card {
	filter: blur(2px);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.image-card-content {
	display: flex;
	height: 100%;
	color: white;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	padding: 20px;
	text-align: left;
	display: flex;
	align-items: flex-start;
	height: 100%;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;

	hr {
		width: 100px;
		margin: 10px 0;
	}
}
.card-title {
	margin: 10px 0;
	font-size: 24px;
	font-weight: bold;
	color: $black;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
	height: 69px;
}
.blog-card {
	display: flex;
	flex-direction: column;
	text-align: left;
	align-items: flex-start;

	hr {
		background-color: $grey;
		width: 100px;
		margin: 6px 0;
		height: 1px;
	}
}
.blog-author-card {
	font-size: 13px;
	color: $grey2;
	svg {
		margin-right: 5px;
	}
}

.blog-description {
	font-size: 13px;
	line-height: 22px;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
	height: 69px;
}

.large-blog-card {
	display: flex;
	.blog-image {
		min-width: 280px;
		min-height: 280px;
	}
	.blog-info {
		margin: 0 50px 0 70px;
		.title {
			line-height: 49px;
		}
		hr {
			width: 100px;
		}
		.blog-description {
			font-size: 13px;
			font-weight: 400;
			line-height: 32px;
			height: 125px;
		}
		.author-info {
			color: $grey2;
			margin-top: 20px;
			font-size: 13px;
			font-weight: 400;
		}
	}
}
.brief-blog-heading {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
}

.brief-card {
	display: flex;
	.blog-image {
		height: 90px;
		width: 90px;
	}
	.blog-description {
		margin-left: 15px;
		height: 90px;
		.brief-blog-title {
			font-size: 15px;
			line-height: 22px;
			font-weight: 600;
		}
		.author-info {
			margin-top: 25px;
			font-weight: 600;
			color: $grey;
		}
	}
}

footer {
	margin-top: 20px;
	.content {
		.social {
			float: right;
			color: $white;
			span {
				margin: 0px 20px;
			}
		}
	}
}

.navbar {
	border-bottom: 1px solid #eee;
	.navbar-item {
		img {
			max-height: 2.75rem !important;
		}
	}
}

@media screen and (min-width: 1024px) {
	.navbar {
		min-height: 4.25rem !important;
	}
}
.user-image {
	height: 80px;
	width: 80px;
	min-height: 80px;
	min-width: 80px;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.user-search {
	.user-info {
		margin-left: 35px;
	}
	.user-name {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 5px;
	}
	.user-bio {
		margin-top: 5px;
		font-size: 14px;
		line-height: 21px;
	}
	border-bottom: 1px solid $grey;
	padding: 30px 0px;
}

.author-banner {
	.hero-body {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.cover-image {
	}
	hr {
		background: #fff;
		width: 200px;
		margin: 1rem 0;
	}
}

.modal {
	.card {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 300px;
	}
	.actions {
		text-align: center;
		button {
			margin: 5px 10px;
		}
	}
}

.author-info-hero {
	.hero-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		.user-main {
			align-items: center;
			.title {
				margin: 0px 0 0 30px;
				font-size: 22px;
				font-weight: 600;
			}
		}
		hr {
			width: 50%;
			margin-bottom: 30px;
		}
	}
}
.social-section {
	margin-top: 50px;
	span {
		margin: 0 10px;
	}
	svg {
		height: 30px;
		width: 30px;
	}
}

#select-box {
	.select__control {
		border: none;
		border-bottom: 1px solid $black;
		border-radius: 0;
	}
	.css-1527syg-multiValue {
	}
	.select__multi-value {
		background-color: $green2;
		color: $white;
		padding: 5px 8px 5px 5px;
		border-radius: 5%;
		padding: 1px 10px 1px 7px;
		border-radius: 10%;
	}
	.select__control--is_focused {
		border: none;
		box-shadow: none;
	}
	.select__multi-value__label {
		color: $white;
	}
	.select__multi-value__remove {
		display: none;
	}
	.select__indicator-separator {
		display: none;
	}
	.select__indicator {
		svg {
			width: 30px;
			height: 30px;
		}
	}
}

// Create blog Start
.create-blog {
	.actions {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		button {
			margin: 5px 0px;
		}
	}
	.is-large {
		border-bottom: 1px solid;
	}
	.select-box-area {
		margin-top: 3%;
	}
	.editor-container {
		margin-top: 30px;

		p,
		li {
			line-height: 36px;
			font-size: 17px;
		}
		h2 {
			line-height: 36px;
		}
		.ql-container {
			font-family: inherit;
		}
		.ql-formats {
			button {
				min-width: 0px;
			}
		}
		pre {
			background-color: #23241f;
			color: #f8f8f2;
			padding: 10px !important;
		}
	}
}

.blog-content-container {
	margin-top: 30px;

	p,
	li {
		line-height: 36px;
		font-size: 17px;
	}
	h2,
	strong {
		line-height: 36px;
	}

	.ql-container {
		font-family: inherit;
	}
	.ql-formats {
		button {
			min-width: 0px;
		}
	}
	pre {
		background-color: #23241f;
		color: #f8f8f2;
		padding: 10px !important;
	}
}
.blog-content {
	.card-title {
		font-size: 50px;
	}
}
.like-save-share-section {
	display: flex;
	justify-content: space-between;
}
.suggested-blog-section {
	display: flex;
	justify-content: center !important;
}

.upload-image-area {
	.file-label {
		width: 100%;
	}
}

// Create blog End

// landing page
.landing-page {
	.container {
		margin-top: 3%;
	}
	.title {
		text-align: center;
	}
}
